body{
    font-family: 'Italianno', cursive;
font-family: 'PT Serif', serif;
}
h1{
    font-size: 40px;
    font-family: 'Italianno', cursive;
}
.changecolor{
    color: deeppink;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}
.image{
    width: 100%;
}